.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #202020;
}

.b-top {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  .col,
  .row {
    width: 100%;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
  }
  &__title {
    display: block;
    max-width: 420px;
    margin: 0 0 30px 0;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
  }
  &__text {
    display: block;
    max-width: 420px;
    margin: 0 0 40px 0;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
  }
  &__button {
    display: block;
    width: 100%;
    padding: 12px;
    border: 0;
    outline: none;
    background-color: #ed1c24;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #ff5258;
      color: #ffffff;
      text-decoration: none;
    }
  }
  form {
    display: block;
    position: relative;
    width: 100%;
  }
  label {
    display: block;
    margin: 0 0 4px 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 14px 16px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #041e42;
  }
  &__info {
    display: block;
    margin: -2px 0 0 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
  }
}

.b-tab {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  &__wrap {
    display: block;
    position: relative;
    padding: 70px 0;
    background: rgba(255, 255, 255, 0.7);
    &:before {
      display: block;
      position: absolute;
      content: "";
      right: 100%;
      top: 0;
      width: 50vw;
      height: 100%;
      pointer-events: none;
      background: rgba(255, 255, 255, 0.7);
      z-index: 1;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 100%;
      top: 0;
      width: 30px;
      height: 100%;
      pointer-events: none;
      background: rgba(255, 255, 255, 0.7);
      z-index: 1;
    }
  }
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #041e42;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      width: 272px;
      height: 2px;
      background-color: #ed1c24;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 70px 0 120px 100px;
    background-color: rgba(4, 30, 66, 0.9);
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 100%;
      top: 0;
      width: 50vw;
      height: 100%;
      pointer-events: none;
      background-color: rgba(4, 30, 66, 0.9);
      z-index: 1;
    }
  }
  &__tabs {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding-bottom: 25px;
  }
  &__tab {
    display: inline-block;
    min-width: 230px;
    margin: 0 0 0 -1px;
    padding: 14px;
    border: solid 1px #ed1c24;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-align: center;
    &_active {
      background: #ed1c24 !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #ff5258;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    margin: 45px 0 0 0;
    img,
    svg {
      display: block;
      max-width: 80px;
      max-width: 80px;
    }
    &__title {
      display: block;
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    &__text {
      display: block;
      margin: 7px 0 0 0;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}

.b-steps {
  display: block;
  position: relative;
  padding: 120px 0 80px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 80px 0;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #041e42;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 272px;
      height: 2px;
      background-color: #ed1c24;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 195px;
    margin: 0 0 30px 0;
    text-align: center;
    &:last-child {
      &:after {
        display: none !important;
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 84px;
      right: -38px;
      width: 23px;
      height: 25px;
      background: url("../images/b_icon_right_double.png") no-repeat center center;
      background-size: contain;
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 192px;
    }
    &__title {
      display: block;
      margin: 28px 0 16px 0;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #041e42;
    }
    &__text {
      display: block;
      margin: 0;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
    }
  }
}

.b-calc {
  display: block;
  position: relative;
  padding: 90px 0 70px 0;
  background: #041e42 url("../images/b_calc_bg.jpg") no-repeat center center;
  background-size: cover;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 272px;
      height: 2px;
      background-color: #ed1c24;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
    }
  }
  &__title {
    display: block;
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 20px 0 0 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  &__button {
    display: block;
    width: 100%;
    padding: 12px;
    border: 0;
    outline: none;
    background-color: #ed1c24;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #ff5258;
      color: #ffffff;
      text-decoration: none;
    }
  }
  form {
    display: block;
    position: relative;
    width: 100%;
  }
  label {
    display: block;
    margin: 0 0 4px 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 14px 16px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #041e42;
  }
  &__info {
    display: block;
    margin: 6px 0 0 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
  }
}

.b-why {
  display: block;
  position: relative;
  padding: 130px 0;
  background: url("../images/b_why_big.png") no-repeat left 60vw center;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #041e42;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 272px;
      height: 2px;
      background-color: #ed1c24;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
    }
  }
  &__content {
    display: block;
    position: relative;
    max-width: 780px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    p {
      margin: 0 0 20px 0;
    }
  }
  &-card {
    display: block;
    margin: 80px 0 0 0;
    img,
    svg {
      display: block;
      max-width: 60px;
      max-height: 60px;
    }
    &__title {
      display: block;
      margin: 0 0 3px 5px;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      text-align: left;
      color: #041e42;
    }
    &__text {
      display: block;
      margin: 0 0 0 5px;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
  }
}

.b-about {
  display: block;
  position: relative;
  padding: 90px 0 60px 0;
  background-color: #eff3f6;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #041e42;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 272px;
      height: 2px;
      background-color: #ed1c24;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
    }
  }
  &-card {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: 320px;
    min-height: 105px;
    margin: 25px 0 0 0;
    background: url("../images/b_about_card_bg.png") no-repeat left 10px center;
    &__number {
      display: inline-block;
      margin: 0 26px 0 0;
      font-size: 50px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #041e42;
      b,
      strong {
        color: #ed1c24;
        font-weight: bold;
      }
    }
    &__text {
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
  }
}

.b-free {
  display: block;
  position: relative;
  padding: 90px 0;
  background: #113972;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 272px;
      height: 2px;
      background-color: #ed1c24;
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -25px;
      left: 0;
      width: 100%;
      height: 1px;
      opacity: 0.3;
      background-color: #e8e8e8;
    }
  }
  &__title {
    display: block;
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    b,
    strong {
      font-size: 30px;
    }
  }
  &__text {
    display: block;
    margin: 20px 0 0 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  &__button {
    display: block;
    width: 100%;
    padding: 12px;
    border: 0;
    outline: none;
    background-color: #ed1c24;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #ff5258;
      color: #ffffff;
      text-decoration: none;
    }
  }
  form {
    display: block;
    position: relative;
    width: 100%;
  }
  label {
    display: block;
    margin: 0 0 4px 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 14px 16px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #041e42;
  }
  &__info {
    display: block;
    margin: -2px 0 0 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
  }
}

.b-how {
  display: block;
  padding: 110px 0 30px 0;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    min-height: 300px;
    margin: 30px 0 0 0;
    padding: 46px 50px 20px 50px;
    background-color: #eff3f6;
    overflow: hidden;
    &__title {
      display: block;
      position: relative;
      margin: 0 0 16px 0;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #041e42;
      z-index: 2;
    }
    &__text {
      display: block;
      position: relative;
      margin: 0;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
      z-index: 2;
    }
    &__number {
      display: block;
      position: absolute;
      top: -6px;
      left: -6px;
      font-size: 70px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #e2e8ed;
      z-index: 1;
    }
    &__button {
      display: inline-block;
      margin: 30px 0 0 0;
      padding: 12px 48px;
      border: 0;
      border-radius: 5px;
      outline: none;
      background-color: #ed1c24;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #ff5258;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.b-qa {
  display: block;
  position: relative;
  min-height: 760px;
  padding: 100px 0 80px 0;
  background: url("../images/b_qa_big.png") no-repeat left 55vw bottom;
  .b-why__title:after {
    max-width: 900px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 9px 0;
    &__title {
      display: block;
      position: relative;
      width: 100%;
      padding: 18px 18px 18px 65px;
      background: #041e42 url("../images/b_icon_plus.png") no-repeat left 20px center;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      &_active {
        background: #041e42 url("../images/b_icon_minus.png") no-repeat left 20px center;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__content {
      display: none;
      position: relative;
      margin-bottom: 20px;
      padding: 45px 60px 50px 60px;
      background-color: #eff3f6;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #222222;
    }
  }
}

.b-new {
  display: block;
  position: relative;
  padding: 190px 0 270px 0;
  background: url("../images/b_new_bg.jpg") no-repeat left center;
  background-size: auto 100%;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    font-size: 19px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: left;
    color: #041e42;
    b,
    strong {
      font-size: 27px;
      font-weight: 800;
    }
  }
  &__text {
    display: block;
    margin: 0 0 80px 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
  }
  form {
    display: block;
    position: relative;
    width: 100%;
  }
  label {
    display: block;
    margin: 0 0 4px 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 14px 16px;
    border: solid 1px #bababa;
    outline: none;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #041e42;
  }
  &__button {
    display: block;
    width: 100%;
    padding: 12px;
    border: 0;
    outline: none;
    background-color: #ed1c24;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #ff5258;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 2px 0 0 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(34, 34, 34, 0.5);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .b-tab {
    overflow: hidden;
  }
  .b-top__title {
    font-size: 32px;
  }
  .b-top__info {
    margin: 20px 0 0 0;
  }
  .b-tab__wrap {
    padding: 35px 0;
  }
  .b-tab__title {
    font-size: 26px;
  }
  .b-tab__content {
    padding: 20px;
    &:before {
      display: none;
    }
  }
  .b-tab__tab {
    width: 100%;
  }
  .b-tab-card {
    margin-top: 20px;
  }
  .b-steps {
    padding: 40px 0;
  }
  .b-steps__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .b-steps__cards {
    justify-content: space-around;
  }
  .b-steps-card:after {
    display: none;
  }
  .b-steps-card__title {
    margin: 10px 0;
  }
  .b-calc__info {
    margin-bottom: 20px;
  }
  .b-why {
    padding: 40px 0;
    background: #ffffff;
  }
  .b-why-card {
    margin-top: 30px;
  }
  .b-about {
    padding: 40px 0;
  }
  .b-free {
    padding: 40px 0;
  }
  .b-free input {
    margin-bottom: 20px;
  }
  .b-free__info {
    margin-bottom: 20px;
  }
  .b-how {
    padding: 40px 0 20px 0;
  }
  .b-qa {
    padding: 40px 0;
    background: #ffffff;
  }
  .b-new {
    padding: 20px 0;
    background: #ffffff;
  }
  .b-new__text {
    margin-bottom: 30px;
  }
  .b-new__info {
    margin-bottom: 20px;
  }
  .b-qa {
    min-height: auto;
  }
}
